Repository Aiven-Open/astacus: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=.pylintrc

mypy:
  name: mypy
  entry: mypy
  language: system

version: don't fall back to Makefile
  version_from_git.py
Due: pylint, mypy

Bug bounty test - PLEASE DO NOT APPROVE.. (baqlvj)
  Makefile
  setup.py
Due: pylint

Revert Cassandra config existence validation
  astacus/common/cassandra/config.py
  tests/unit/test_config.py
Due: pylint, mypy

cassandra: revert client configuration path field type change
  astacus/common/cassandra/config.py
  tests/unit/test_config.py
Due: pylint, mypy

tests: avoid port allocation failures
  tests/integration/conftest.py
Due: pylint

zookeeper: add support for delete operation
  astacus/coordinator/plugins/zookeeper.py
  tests/unit/coordinator/plugins/test_zookeeper.py
Due: pylint, mypy

tests: add object storage bucket
  tests/integration/conftest.py
  tests/integration/coordinator/plugins/clickhouse/conftest.py
  tests/integration/coordinator/plugins/clickhouse/test_plugin.py
  tests/integration/coordinator/plugins/clickhouse/test_replication.py
  tests/integration/coordinator/plugins/clickhouse/test_steps.py
Due: pylint

clickhouse: add support for multiple and remote disks
  astacus/coordinator/plugins/clickhouse/config.py
  astacus/coordinator/plugins/clickhouse/manifest.py
  astacus/coordinator/plugins/clickhouse/parts.py
  astacus/coordinator/plugins/clickhouse/plugin.py
  astacus/coordinator/plugins/clickhouse/steps.py
  tests/integration/coordinator/plugins/clickhouse/conftest.py
  tests/integration/coordinator/plugins/clickhouse/test_plugin.py
  tests/unit/coordinator/plugins/clickhouse/test_manifest.py
  tests/unit/coordinator/plugins/clickhouse/test_parts.py
  tests/unit/coordinator/plugins/clickhouse/test_steps.py
Due: pylint, mypy

tests: update min Python version to 3.11
  .github/workflows/lint.yml
  .github/workflows/tests-all.yml
  .github/workflows/tests.yml
  mypy.ini
  setup.py
  tox.ini
Due: pylint

common: tighten types
  astacus/common/ipc.py
  astacus/coordinator/plugins/base.py
  astacus/coordinator/plugins/clickhouse/parts.py
  tests/unit/coordinator/plugins/clickhouse/test_parts.py
Due: pylint, mypy

clickhouse: fix compatibility with ClickHouse 23.3 ACLs
  tests/integration/coordinator/plugins/clickhouse/test_plugin.py
Due: pylint

clickhouse: add helper for (de)serializing part file paths
  astacus/coordinator/plugins/clickhouse/disks.py
  tests/unit/coordinator/plugins/clickhouse/test_disks.py
Due: pylint, mypy

clickhouse: remove support for non-system unfreeze
  astacus/coordinator/plugins/clickhouse/plugin.py
  astacus/coordinator/plugins/clickhouse/steps.py
  tests/integration/coordinator/plugins/clickhouse/conftest.py
  tests/integration/coordinator/plugins/clickhouse/test_plugin.py
  tests/unit/coordinator/plugins/clickhouse/test_steps.py
Due: pylint, mypy

clickhouse: remove dead code
  astacus/coordinator/plugins/clickhouse/parts.py
  astacus/coordinator/plugins/clickhouse/replication.py
  astacus/coordinator/plugins/clickhouse/steps.py
  tests/unit/coordinator/plugins/clickhouse/test_parts.py
  tests/unit/coordinator/plugins/clickhouse/test_replication.py
  tests/unit/coordinator/plugins/clickhouse/test_steps.py
Due: pylint, mypy

node: add type hints
  astacus/common/ipc.py
  astacus/node/cassandra.py
  astacus/node/clear.py
  astacus/node/download.py
  astacus/node/node.py
  astacus/node/snapshot.py
  astacus/node/snapshotter.py
Due: pylint, mypy

node: pass req at init instead of start
  astacus/node/api.py
  astacus/node/cassandra.py
  astacus/node/clear.py
  astacus/node/download.py
  astacus/node/node.py
  astacus/node/snapshot.py
Due: pylint, mypy

snapshot: rename EMBEDDED_FILE_SIZE to DEFAULT_*
  astacus/common/ipc.py
  astacus/common/magic.py
  astacus/node/snapshotter.py
  tests/system/test_astacus.py
  tests/unit/node/conftest.py
  tests/unit/node/test_node_snapshot.py
Due: pylint, mypy

coordinator: use SnapshotGroup instead of root_globs
  astacus/coordinator/plugins/cassandra/plugin.py
  astacus/coordinator/plugins/clickhouse/config.py
  astacus/coordinator/plugins/clickhouse/disks.py
  astacus/coordinator/plugins/clickhouse/plugin.py
  astacus/coordinator/plugins/files.py
  astacus/coordinator/plugins/m3db.py
  tests/unit/coordinator/plugins/clickhouse/test_disks.py
Due: pylint, mypy

snapshot: configure max embed size per group
  astacus/common/ipc.py
  astacus/common/snapshot.py
  astacus/coordinator/plugins/base.py
  astacus/node/api.py
  astacus/node/clear.py
  astacus/node/download.py
  astacus/node/node.py
  astacus/node/snapshot.py
  astacus/node/snapshotter.py
  tests/unit/node/conftest.py
  tests/unit/node/test_node_download.py
Due: pylint, mypy

snapshot: add support for excluding filenames
  astacus/common/ipc.py
  astacus/common/snapshot.py
  astacus/coordinator/plugins/base.py
  astacus/node/snapshot.py
  astacus/node/snapshotter.py
Due: pylint, mypy

clickhouse: extract the path of remote files
  astacus/coordinator/plugins/clickhouse/disks.py
  astacus/coordinator/plugins/clickhouse/manifest.py
  astacus/coordinator/plugins/clickhouse/plugin.py
  astacus/coordinator/plugins/clickhouse/steps.py
  tests/unit/coordinator/plugins/clickhouse/test_manifest.py
  tests/unit/coordinator/plugins/clickhouse/test_steps.py
Due: pylint, mypy

clickhouse: add helper to parse file metadata
  astacus/coordinator/plugins/clickhouse/file_metadata.py
  tests/integration/coordinator/plugins/clickhouse/test_file_metadata.py
Due: pylint, mypy

storage: add type hints
  astacus/common/asyncstorage.py
  astacus/common/cachingjsonstorage.py
  astacus/common/rohmustorage.py
  astacus/common/storage.py
  astacus/coordinator/coordinator.py
Due: pylint, mypy

specfile: add snappy dependency
  astacus.spec
Due: none

storage: turn Storage classes into ABCs
  astacus/common/storage.py
Due: pylint, mypy

coordinator: turn cleanup into a Stepped operation
  astacus/coordinator/api.py
  astacus/coordinator/cleanup.py
  astacus/coordinator/plugins/base.py
  tests/unit/coordinator/plugins/test_base.py
  tests/unit/coordinator/test_cleanup.py
  tests/unit/json_storage.py
Due: pylint, mypy

clickhouse: garbage collect object storage files
  astacus/coordinator/plugins/clickhouse/async_object_storage.py
  astacus/coordinator/plugins/clickhouse/config.py
  astacus/coordinator/plugins/clickhouse/disks.py
  astacus/coordinator/plugins/clickhouse/manifest.py
  astacus/coordinator/plugins/clickhouse/plugin.py
  astacus/coordinator/plugins/clickhouse/steps.py
  tests/integration/coordinator/plugins/clickhouse/conftest.py
  tests/integration/coordinator/plugins/clickhouse/test_plugin.py
  tests/unit/coordinator/plugins/clickhouse/test_disks.py
  tests/unit/coordinator/plugins/clickhouse/test_steps.py
Due: pylint, mypy

node: set downloaded files mode to masked 660 instead of 600
  astacus/common/utils.py
  astacus/node/download.py
  tests/unit/common/test_utils.py
Due: pylint, mypy

node: add option to chown downloaded files
  astacus/node/config.py
  astacus/node/download.py
Due: pylint, mypy

Remove unused files from Cassandra snapshot
  astacus/coordinator/plugins/cassandra/plugin.py
Due: pylint, mypy

deps: update rohmu models for the latest version
  astacus/common/rohmustorage.py
  setup.cfg
  tests/integration/coordinator/plugins/clickhouse/conftest.py
Due: pylint, mypy

Optionally restore Cassandra schema from snapshot
  astacus/common/ipc.py
  astacus/coordinator/plugins/cassandra/plugin.py
  astacus/node/cassandra.py
  tests/unit/conftest.py
  tests/unit/node/test_node_cassandra.py
Due: pylint, mypy

Move node mapping to a separate step
  astacus/coordinator/plugins/base.py
  astacus/coordinator/plugins/cassandra/plugin.py
  astacus/coordinator/plugins/cassandra/restore_steps.py
  astacus/coordinator/plugins/clickhouse/plugin.py
  astacus/coordinator/plugins/files.py
  astacus/coordinator/plugins/m3db.py
  tests/unit/coordinator/plugins/cassandra/test_restore_steps.py
  tests/unit/coordinator/plugins/test_m3db.py
Due: pylint, mypy

Implement basic partial restore for Cassandra
  astacus/common/ipc.py
  astacus/coordinator/plugins/cassandra/plugin.py
  astacus/coordinator/plugins/cassandra/restore_steps.py
  astacus/node/cassandra.py
  tests/unit/coordinator/plugins/cassandra/test_plugin.py
  tests/unit/coordinator/plugins/cassandra/test_restore_steps.py
Due: pylint, mypy

zookeeper: add support for client authentication
  .github/workflows/lint.yml
  astacus/coordinator/plugins/clickhouse/config.py
  astacus/coordinator/plugins/zookeeper.py
  astacus/coordinator/plugins/zookeeper_config.py
  tests/integration/coordinator/plugins/clickhouse/test_zookeeper.py
  tests/unit/coordinator/plugins/clickhouse/test_config.py
Due: pylint, mypy

m3db: fix MapNodesStep order
  astacus/coordinator/plugins/m3db.py
Due: pylint, mypy

Retry failed attempts when reloading the config
  astacus/client.py
  requirements.testing.txt
  tests/unit/test_client.py
Due: pylint, mypy

Bump ZooKeeper to the latest stable 3.8.2
  Makefile
Due: none

Add more test for reload config behavior
  tests/unit/test_client.py
Due: pylint

Test that the URL table engine is restored correctly
  tests/integration/coordinator/plugins/clickhouse/test_plugin.py
Due: pylint

Path conditions:
  pylint: any of: \.py$ and \.py$ and not (^vendor/)
  mypy: any of: \.py$ and \.py$ and not (^setup.py|^tests/|^vendor/|^astacus/proto/)
