Repository Aiven-Open/astacus: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
        exclude: ^vendor/|^tests/.*/fixtures/.*
      - id: end-of-file-fixer
        exclude: ^vendor/|^tests/.*/fixtures/.*
      - id: debug-statements

  - repo: https://github.com/timothycrosley/isort
    rev: 5.10.1
    hooks:
      - id: isort
        files: \.py$
        exclude: ^vendor/

  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black

  - repo: https://github.com/pycqa/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        files: \.py$
        args:
          - --config=.flake8

  # https://pre-commit.com/#repository-local-hooks
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        files: \.py$
        exclude: ^vendor/
        args:
          - --rcfile=.pylintrc

  # https://pre-commit.com/#repository-local-hooks
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        files: \.py$
        exclude: ^setup.py|^tests/|^vendor/|^astacus/proto/

Update build and test dependencies versions
  .pre-commit-config.yaml
  .pylintrc
  astacus/client.py
  astacus/common/cassandra/schema.py
  astacus/common/rohmustorage.py
  astacus/common/statsd.py
  astacus/common/utils.py
  astacus/coordinator/coordinator.py
  astacus/coordinator/plugins/base.py
  astacus/coordinator/plugins/clickhouse/steps.py
  astacus/server.py
  mypy.ini
  requirements.testing.txt
  setup.cfg
  tests/unit/coordinator/plugins/clickhouse/test_parts.py
  version_from_git.py
Due: pylint, mypy

Disallow implicit optional type annotations
  astacus/common/etcd.py
Due: pylint, mypy

Add virtual env creation makefile target
  Makefile
Due: none

Update GitHub actions and Ubuntu image versions
  .github/workflows/codeql-analysis.yml
  .github/workflows/lint.yml
  .github/workflows/tests-all.yml
  .github/workflows/tests.yml
  Dockerfile.ubuntu
Due: none

Stop depending on pip-outdated for testing
  Makefile
  requirements.testing.txt
Due: none

Deduplicate snapshot result files when computing backup size
  astacus/common/ipc.py
  astacus/coordinator/list.py
  tests/unit/coordinator/conftest.py
  tests/unit/coordinator/test_list.py
Due: pylint, mypy

Add prettier pre-commit hook and normalize formatting
  .github/workflows/codeql-analysis.yml
  .github/workflows/lint.yml
  .github/workflows/tests-all.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  README.md
  SECURITY.md
  TODO.md
  codecov.yml
  doc/design/20200422.md
  doc/design/cassandra.md
  doc/design/implementation.md
  doc/design/m3.md
  doc/design/overview.md
  examples/astacus-cassandra-gcs.yaml
  examples/astacus-cassandra-local.yaml
  examples/astacus-files-google.json
  examples/astacus-files-local.json
  examples/astacus-files-local.yaml
  examples/astacus-files-s3.json
  examples/astacus-m3-gcs.json
  tests/system/README.md
Due: none

Fix clickhouse version CLI output parsing
  tests/integration/coordinator/plugins/clickhouse/conftest.py
  tests/unit/test_utils.py
  tests/utils.py
Due: pylint

Update build and test dependencies versions
  .pre-commit-config.yaml
  .pylintrc
  astacus/client.py
  astacus/common/cassandra/schema.py
  astacus/common/rohmustorage.py
  astacus/common/statsd.py
  astacus/common/utils.py
  astacus/coordinator/coordinator.py
  astacus/coordinator/plugins/base.py
  astacus/coordinator/plugins/clickhouse/steps.py
  astacus/server.py
  requirements.testing.txt
  setup.cfg
  tests/unit/coordinator/plugins/clickhouse/test_parts.py
  version_from_git.py
Due: pylint, mypy

Move node routes before coordinator routes
  astacus/server.py
Due: pylint, mypy

Add a node API to get version and features
  astacus/common/ipc.py
  astacus/node/api.py
Due: pylint, mypy

Make hashing of uploaded files optional
  astacus/common/ipc.py
  astacus/node/api.py
  astacus/node/snapshot.py
  astacus/node/uploader.py
Due: pylint, mypy

Increase EMBEDDED_FILE_SIZE from 100 to 200 bytes
  astacus/common/magic.py
  tests/unit/node/test_node_snapshot.py
Due: pylint, mypy

Don't hash uploaded ClickHouse files
  astacus/coordinator/plugins/clickhouse/plugin.py
Due: pylint, mypy

Don't hash uploaded files if the node support it
  astacus/coordinator/plugins/base.py
  tests/unit/coordinator/plugins/test_base.py
  tests/unit/coordinator/test_backup.py
Due: pylint, mypy

clickhouse: enrich client error type
  astacus/coordinator/plugins/clickhouse/client.py
  tests/integration/coordinator/plugins/clickhouse/test_client.py
Due: pylint, mypy

clickhouse: allow restoring tables requiring global settings
  astacus/coordinator/plugins/clickhouse/steps.py
  tests/integration/coordinator/plugins/clickhouse/test_plugin.py
  tests/unit/coordinator/plugins/clickhouse/test_steps.py
Due: pylint, mypy

Ignore no-self-use pylint warning
  .pylintrc
Due: none

Remove cql_create_all, since it's not used
  astacus/common/cassandra/schema.py
  tests/unit/common/cassandra/test_schema.py
Due: pylint, mypy

Disable Cassandra test collection without driver
  tests/unit/common/cassandra/conftest.py
  tests/unit/common/cassandra/test_client.py
  tests/unit/common/cassandra/test_restore_steps.py
  tests/unit/common/cassandra/test_schema.py
  tests/unit/coordinator/plugins/cassandra/conftest.py
  tests/unit/coordinator/plugins/cassandra/test_backup_steps.py
  tests/unit/coordinator/plugins/cassandra/test_plugin.py
  tests/unit/coordinator/plugins/cassandra/test_restore_steps.py
  tests/utils.py
Due: pylint

Allow to backup/restore a single datacenter
  astacus/common/cassandra/schema.py
  astacus/coordinator/plugins/cassandra/backup_steps.py
  astacus/coordinator/plugins/cassandra/plugin.py
  astacus/coordinator/plugins/cassandra/restore_steps.py
  tests/unit/common/cassandra/test_client.py
  tests/unit/common/cassandra/test_restore_steps.py
  tests/unit/common/cassandra/test_schema.py
  tests/unit/coordinator/plugins/cassandra/builders.py
  tests/unit/coordinator/plugins/cassandra/test_backup_steps.py
  tests/unit/coordinator/plugins/cassandra/test_restore_steps.py
Due: pylint, mypy

Raise the level of some of the log messages
  astacus/common/op.py
  astacus/common/progress.py
  astacus/common/storage.py
  astacus/common/utils.py
  astacus/coordinator/cleanup.py
  astacus/coordinator/cluster.py
  astacus/coordinator/coordinator.py
  astacus/coordinator/plugins/base.py
  astacus/coordinator/plugins/m3db.py
  astacus/node/clear.py
  astacus/node/download.py
  astacus/node/snapshot.py
  astacus/node/snapshotter.py
  astacus/node/uploader.py
Due: pylint, mypy

Add the logger name in log messages
  astacus/server.py
Due: pylint, mypy

Update pre-commit to fix incompatible isort and poetry versions
  .pre-commit-config.yaml
Due: none

Update fastapi requirement and pin dependencies
  .pre-commit-config.yaml
  requirements.testing.txt
  setup.cfg
Due: none

Add python 3.11 to maximal unit tests
  .github/workflows/tests-all.yml
  setup.py
Due: pylint

Fix statsd unit tests
  tests/unit/common/test_statsd.py
Due: pylint

fix: introduce StrEnum class
  astacus/common/ipc.py
  astacus/common/magic.py
  astacus/common/rohmustorage.py
  astacus/common/statsd.py
  astacus/config.py
  astacus/coordinator/api.py
  astacus/node/api.py
Due: pylint, mypy

Update linters' versions in pre-commit and fix import errors
  .flake8
  .pre-commit-config.yaml
  .pylintrc
  astacus/common/ipc.py
  astacus/common/statsd.py
  astacus/node/api.py
  requirements.testing.txt
Due: pylint, mypy

clickhouse: increase FREEZE and UNFREEZE timeout
  astacus/coordinator/plugins/clickhouse/plugin.py
  astacus/coordinator/plugins/clickhouse/steps.py
  tests/unit/coordinator/plugins/clickhouse/test_steps.py
Due: pylint, mypy

coordinator: expose busy concept
  astacus/coordinator/api.py
  astacus/coordinator/coordinator.py
  tests/unit/coordinator/test_busy.py
  tests/unit/node/conftest.py
Due: pylint, mypy

fix: Exclude tests from exposed modules
  setup.py
Due: pylint

cassandra: apply a sanity check to the client configuration path
  astacus/common/cassandra/config.py
  astacus/node/api.py
  tests/unit/node/test_node_cassandra.py
  tests/unit/test_config.py
Due: pylint, mypy

Add option to remove leftover ClickHouse snapshots from disks
  .pylintrc
  astacus/coordinator/plugins/clickhouse/plugin.py
  astacus/coordinator/plugins/clickhouse/steps.py
  tests/integration/coordinator/plugins/clickhouse/conftest.py
  tests/integration/coordinator/plugins/clickhouse/test_plugin.py
  tests/integration/coordinator/plugins/clickhouse/test_steps.py
  tests/unit/coordinator/plugins/clickhouse/test_steps.py
Due: pylint, mypy

coordinator: do not keep all manifests in memory during cleanup
  astacus/coordinator/cleanup.py
Due: pylint, mypy
