Repository Aiven-Open/astacus: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=.pylintrc

mypy:
  name: mypy
  entry: mypy
  language: system

Wait for the restoring Cassandras in partial mode
  astacus/coordinator/plugins/cassandra/restore_steps.py
  astacus/coordinator/plugins/cassandra/utils.py
Due: pylint, mypy

use str instead of Path
  astacus/common/ipc.py
  astacus/coordinator/plugins/clickhouse/async_object_storage.py
  astacus/coordinator/plugins/clickhouse/disks.py
  astacus/coordinator/plugins/clickhouse/file_metadata.py
  astacus/coordinator/plugins/clickhouse/manifest.py
  astacus/coordinator/plugins/clickhouse/steps.py
  astacus/node/snapshot.py
  astacus/node/snapshot_groups.py
  astacus/node/snapshotter.py
  astacus/node/sqlite_snapshot.py
  tests/integration/coordinator/plugins/clickhouse/test_file_metadata.py
  tests/unit/coordinator/plugins/clickhouse/test_disks.py
  tests/unit/coordinator/plugins/clickhouse/test_parts.py
  tests/unit/coordinator/plugins/clickhouse/test_steps.py
  tests/unit/coordinator/test_list.py
  tests/unit/coordinator/test_restore.py
  tests/unit/node/conftest.py
  tests/unit/node/test_node_download.py
  tests/unit/node/test_node_snapshot.py
  tests/unit/node/test_snapshot_groups.py
  tests/unit/node/test_snapshotter.py
Due: pylint, mypy

add json_view accessor library
  astacus/common/json_view.py
  tests/unit/common/test_json_view.py
Due: pylint, mypy

only parse a single snapshot from the manifest
  astacus/node/download.py
Due: pylint, mypy

don't convert manifests to pydantic during list_backups
  astacus/coordinator/list.py
  tests/unit/coordinator/test_list.py
Due: pylint, mypy

cassandra: drop nodes from cluster when they are stopped
  astacus/coordinator/plugins/cassandra/plugin.py
  astacus/coordinator/plugins/cassandra/restore_steps.py
  astacus/coordinator/plugins/cassandra/utils.py
  tests/unit/coordinator/plugins/cassandra/conftest.py
  tests/unit/coordinator/plugins/cassandra/test_restore_steps.py
  tests/unit/coordinator/plugins/cassandra/test_utils.py
Due: pylint, mypy

fix: change bugbounty provider from h1 to bugcrowd
  SECURITY.md
Due: none

Fix minor things caught by updated linters
  astacus/common/storage.py
  astacus/common/utils.py
  astacus/coordinator/plugins/etcd.py
  tests/integration/conftest.py
  tests/integration/coordinator/plugins/clickhouse/conftest.py
  tests/unit/storage.py
  version_from_git.py
Due: pylint, mypy

Upgrade testing/typing dependencies
  .pre-commit-config.yaml
  requirements.testing.txt
  setup.cfg
Due: none

alter test procedure to help testing memory usage
  tests/integration/coordinator/plugins/clickhouse/test_plugin.py
  tests/utils.py
Due: pylint

add msgspec dependency
  .pre-commit-config.yaml
  setup.cfg
Due: none

add msgspec helpers to help integration with FastAPI
  .pre-commit-config.yaml
  astacus/common/msgspec_glue.py
Due: pylint, mypy

clickhouse: bump default restore_replica_timeout to 3600sec
  astacus/coordinator/plugins/clickhouse/plugin.py
Due: pylint, mypy

stream response from nodes to coordinator
  astacus/common/utils.py
  astacus/coordinator/cluster.py
Due: pylint, mypy

reduce memory usage of ClickHouse path operations
  astacus/coordinator/plugins/clickhouse/disks.py
  astacus/coordinator/plugins/clickhouse/steps.py
Due: pylint, mypy

migrate ipc models from pydantic to msgspec
  astacus/client.py
  astacus/common/asyncstorage.py
  astacus/common/cachingjsonstorage.py
  astacus/common/ipc.py
  astacus/common/progress.py
  astacus/common/rohmustorage.py
  astacus/common/storage.py
  astacus/coordinator/api.py
  astacus/coordinator/cleanup.py
  astacus/coordinator/cluster.py
  astacus/coordinator/config.py
  astacus/coordinator/coordinator.py
  astacus/coordinator/list.py
  astacus/coordinator/manifest.py
  astacus/coordinator/plugins/base.py
  astacus/coordinator/plugins/cassandra/restore_steps.py
  astacus/coordinator/plugins/clickhouse/steps.py
  astacus/coordinator/state.py
  astacus/node/api.py
  astacus/node/download.py
  astacus/node/node.py
  tests/unit/common/test_storage.py
  tests/unit/coordinator/plugins/clickhouse/test_steps.py
  tests/unit/coordinator/plugins/test_base.py
  tests/unit/coordinator/plugins/test_m3db.py
  tests/unit/coordinator/test_backup.py
  tests/unit/coordinator/test_list.py
  tests/unit/coordinator/test_restore.py
  tests/unit/node/test_node_cassandra.py
  tests/unit/node/test_node_download.py
  tests/unit/node/test_node_snapshot.py
  tests/unit/storage.py
Due: pylint, mypy

don't return result that nobody reads
  astacus/coordinator/api.py
  astacus/node/node.py
  tests/unit/node/test_node_snapshot.py
Due: pylint, mypy

skip irrelevant info when loading a SnapshotResult from the Manifest
  astacus/node/download.py
Due: pylint, mypy

reuse individual backup list entries
  astacus/common/ipc.py
  astacus/coordinator/api.py
  astacus/coordinator/list.py
  tests/unit/coordinator/test_list.py
Due: pylint, mypy

Update fedora docker image version
  Dockerfile.fedora
Due: none

rohmu: speedup file decryption
  astacus/common/rohmustorage.py
  astacus/common/utils.py
  setup.cfg
  tests/unit/common/test_utils.py
Due: pylint, mypy

bump test ZooKeeper version
  Makefile
Due: none

WIP
  astacus/common/backup_conversion.py
  astacus/common/ipc.py
  astacus/common/node_manifest.py
  astacus/common/pyarrow_utils.py
  astacus/common/storage/manager.py
  astacus/common/storage/node.py
  astacus/coordinator/api.py
  astacus/coordinator/list.py
  astacus/coordinator/manifest.py
  astacus/coordinator/plugins/base.py
  astacus/coordinator/plugins/cassandra/restore_steps.py
  astacus/coordinator/plugins/upload_blocks.py
  astacus/node/api.py
  astacus/node/download.py
  astacus/node/node.py
  astacus/node/snapshot.py
  astacus/node/snapshot_op.py
  astacus/node/sqlite_snapshot.py
  astacus/node/uploader.py
  setup.cfg
  tests/unit/common/test_backup_conversion.py
  tests/unit/common/test_node_manifest_store.py
  tests/unit/coordinator/conftest.py
  tests/unit/coordinator/plugins/test_base.py
  tests/unit/coordinator/test_list.py
Due: pylint, mypy

Add tests for mysql postgresql and s3 table engines
  astacus/coordinator/plugins/clickhouse/client.py
  tests/integration/coordinator/plugins/clickhouse/test_plugin.py
Due: pylint, mypy

clickhouse: make restore work with annoy index
  astacus/coordinator/plugins/clickhouse/steps.py
  tests/unit/coordinator/plugins/clickhouse/test_steps.py
Due: pylint, mypy

remove unused json_view module
  astacus/common/json_view.py
  tests/unit/common/test_json_view.py
Due: pylint, mypy

Path conditions:
  pylint: any of: \.py$ and \.py$ and not (^vendor/)
  mypy: any of: \.py$ and \.py$ and not (^setup.py|^tests/|^vendor/|^astacus/proto/)
